In [0]:
import pandas as pd

# Leitura de arquivos

In [0]:
# Dataframe das vendas
df_vendas = pd.read_csv('vendas.csv', sep = '|', skiprows = 0, encoding='utf-8')

In [0]:
# Vendas total AM
df_detalhamentoAM = pd.read_excel('detalhamento.xlsx', sheet_name='AM',skiprows=1)

# Vendas total RR
df_detalhamentoRR = pd.read_excel('detalhamento.xlsx', sheet_name='RR',skiprows=1)

# Vendas total RO
df_detalhamentoRO = pd.read_excel('detalhamento.xlsx', sheet_name='RO',skiprows=1)

# Vendas total AC
df_detalhamentoAC = pd.read_excel('detalhamento.xlsx', sheet_name='AC',skiprows=1)

# Tratamento de dados

## Renomear colunas

In [0]:
df_detalhamentoAM.columns = ['nome_fantasia', 'escritorio', 'uf', 'operadora', 'valor_bruto']

df_detalhamentoRR.columns = ['nome_fantasia', 'escritorio', 'uf', 'operadora', 'valor_bruto']

df_detalhamentoRO.columns = ['nome_fantasia', 'escritorio', 'uf', 'operadora', 'valor_bruto']

df_detalhamentoAC.columns = ['nome_fantasia', 'escritorio', 'uf', 'operadora', 'valor_bruto']

In [0]:
#Concatenando tabelas de detalhamento

df_detalhamento = pd.concat([df_detalhamentoAM, df_detalhamentoRR, df_detalhamentoRO, df_detalhamentoAC])

In [0]:
df_vendas.columns = ['escritorio', 'operadora', 'material', 'data', 'banco_dados']

## Verificar tipos

In [7]:
df_detalhamento.dtypes

nome_fantasia    object
escritorio        int64
uf               object
operadora        object
valor_bruto       int64
dtype: object

In [8]:
df_vendas.dtypes

escritorio       int64
operadora       object
material        object
data            object
vendas_loja    float64
dtype: object

## Deletar dados

In [0]:
df_vendas = df_vendas[['escritorio', 'operadora', 'banco_dados']].copy()

In [0]:
df_detalhamento = df_detalhamento[['escritorio', 'operadora', 'valor_bruto']]

## Resetando o index

In [0]:
#Eliminando o index

df_detalhamento = df_detalhamento.reset_index(drop=True)

## Agrupando dados

In [0]:
df_vendas = df_vendas.groupby(['escritorio', 'operadora']).agg({'banco_dados':'sum'}).reset_index(drop=False)

# Correlação de tabelas

In [0]:
df_relatorio = pd.merge(df_vendas, df_detalhamento, on = ['escritorio', 'operadora'], how = 'left')

# Regra de negócio

In [0]:
def valor_diferentes(banco_dados, valor_bruto):
  if banco_dados != valor_bruto:
    return 'alerta'
  else:
    return ''

In [0]:
df_relatorio['divergente']= df_relatorio.apply(lambda row: valor_diferentes(row['banco_dados'], row['valor_bruto']), axis = 'columns')

## Ordenando colunas

In [0]:
df_relatorio = df_relatorio.sort_values(['escritorio'], ascending = [True])

# Exportando formato .XLSX

In [0]:
writer = pd.ExcelWriter('Relatorio Final (Desafio).xlsx')

df_relatorio.to_excel(writer, sheet_name = 'comparação', index = False)
writer.save()

In [43]:
df_relatorio

     escritorio operadora  banco_dados  valor_bruto divergente
0           101     Claro       1527.0       1527.0
1           101        Oi       1730.0       1730.0
2           101       Tim        975.0        975.0
3           101      Vivo       3142.0       3142.0
4           103     Claro       2652.3       2651.0     alerta
..          ...       ...          ...          ...        ...
158         618      Vivo        561.0        380.0     alerta
159         701     Claro        140.0        140.0
160         701        Oi         20.0         20.0
161         701       Tim        135.0        135.0
162         701      Vivo        304.0        304.0

[163 rows x 5 columns]